registry=https://pkgs.dev.azure.com/draeger/_packaging/scld/npm/registry/        

always-auth=true

; begin auth token
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/registry/:username=draeger
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/registry/:_password=c3d5Nndic3ZyeDJ1cXQ1YjVvc3FtZ21la2t6aGg2cXU2eXBtYTZhN2YzbTd3YWp0cGZ0YQ==
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/:username=draeger
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/:_password=c3d5Nndic3ZyeDJ1cXQ1YjVvc3FtZ21la2t6aGg2cXU2eXBtYTZhN2YzbTd3YWp0cGZ0YQ==
//pkgs.dev.azure.com/draeger/_packaging/scld/npm/:email=npm requires email to be set but doesn't use the value
; end auth token